extends layout

block content
  header.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') beans
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/dashboard') Welcome
        ul.nav.navbar-nav.navbar-right
          li
            button.btn.btn-default.navbar-btn.navbar-right 
              a(href='/') Profile
  .container.bn-content
    .row
      .col-md-9(role="main")
        section.bn-projects-section
          .row
            each proj in projects
              .col-md-3
                a.thumbnail(href="/projects/#{proj._id}")
                  p= proj.name
      .col-md-3(role="complementary")
        section.bn-util-section
          a.btn.btn-primary.btn-lg(role="button", data-toggle="modal" data-target="#newProject") Create a project
  .modal.bs-example-modal-sm(id="newProject")
    .modal-dialog
      .modal-content
        .modal-body
          form(action="/projects" method="post")
            .form-group
              input.form-control(type='text', name="projectName", placeholder="Project Name")
            button.btn.btn-default(type="button", data-dismiss="modal") Cancel
            button.btn.btn-primary(type='submit') Create

  link(rel="stylesheet", href="/stylesheets/dashboard.css",  type="text/css" )